/* main style */

body {
    background-color: antiquewhite;
}

/* end main style */

/* choveche style */
.head {
    width: 100px;
    height: 100px;
    background-color: coral;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    border-radius: 100%;
    top: 10px;
}

.head.move {
    animation-name: head-movement;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.body {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    border-radius: 30px;
    top: 120px;
}

.body.move {
    animation-name: body-movement;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.left-hand {
    width: 100px;
    height: 10px;
    background-color: aquamarine;
    position: absolute;
    left: 50%;
    margin-left: -215px;
    top: 145px;
    transform: rotate(-45deg);
    border-radius: 10px;
    transform-origin: top right;
}

.left-hand.move {
    animation-name: left-hand-movement;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.right-hand {
    width: 100px;
    height: 10px;
    background-color: aquamarine;
    position: absolute;
    left: 50%;
    margin-left: 115px;
    top: 145px;
    transform: rotate(45deg);
    border-radius: 10px;
    transform-origin: top left;
}

.right-hand.move {
    animation-name: right-hand-movement;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.left-leg {
    width: 100px;
    height: 10px;
    background-color: aquamarine;
    position: absolute;
    left: 50%;
    margin-left: -130px;
    top: 360px;
    transform: rotate(-45deg);
    border-radius: 10px;
}

.left-leg.move {
    animation-name: left-leg-movement;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.right-leg {
    width: 100px;
    height: 10px;
    background-color: aquamarine;
    position: absolute;
    left: 50%;
    margin-left: 34px;
    top: 360px;
    transform: rotate(45deg);
    border-radius: 10px;
}

.right-leg.move {
    animation-name: right-leg-movement;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* end of choveche */

/* listing */

.cool-button-list {
    list-style-type: none;
}

.cool-button-list .cool-button {
    margin-bottom: 10px;
    background-color: aliceblue;
    border-radius: 5px;
    -webkit-box-shadow: 4px 3px 3px 3px rgba(0,0,0,0.32);
    -moz-box-shadow: 4px 3px 3px 3px rgba(0,0,0,0.32);
    box-shadow: 4px 3px 3px 3px rgba(0,0,0,0.32);
}

.cool-button-list .cool-button.on {
    background-color: limegreen;
}

.cool-button-list .cool-button.off {
    background-color: red;
}

/* end of listing */

/* movement */

@keyframes body-movement {
    0%   {transform:rotate(15deg)}
    25%  {transform:rotate(20deg)}
    50%  {transform:rotate(0deg)}
    75%  {transform:rotate(-20deg)}
    100% {transform:rotate(-15deg)}
}

@keyframes head-movement {
    0%   {
        top: 10px;
    }
    25%  {
        top: 0px;
    }
    50%  {
        top: 10px;
    }
    75%  {
        top: 30px;
    }
    100% {
        top: 10px;
    }
}
@keyframes left-hand-movement {
    0%   {
        transform: rotate(15deg);
    }
    25%  {
        transform: rotate(30deg);
    }
    50%  {
        transform: rotate(60deg);
    }
    75%  {
        transform: rotate(75deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes right-hand-movement {
    0%   {
        transform: rotate(15deg);
    }
    25%  {
        transform: rotate(30deg);
    }
    50%  {
        transform: rotate(60deg);
    }
    75%  {
        transform: rotate(75deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
